html {
  background-color: 598b2c;
}

* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: 11270b;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 80px;
  font-size: 40px;
  align-items: center;
}

footer {
  background-color: 11270b;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 80px;
}

.name {
  color: 71b340;
  margin-left: 25px;
}

nav a {
  color: 71b340;
  text-decoration: none;
  margin-right: 25px;
}

.active {
  border-bottom: 2px solid;
}

main{
  display: block;
  margin: auto;
  text-align: center;
  background-color: 3c5a14;
  min-height: 100vh;
  width: 60%;
  padding: 85px 24px 96px;
}

.home-statement {
  margin-top: 200px;
  font-size: 2.25em;
}

#home-page-photo {
  margin-left: 20px;
  height: 350px;
  float: right;
}

.about-images {
  height: 150px;
}